@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oxanium:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Fira+Sans&family=Oxanium:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #23222F;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #BCBFDC;
    --cor-hover: #31303a;
    --fonte-primaria: 'Fira Sans', sans-serif;
    --fonte-sugundaria: 'Fira Mono', monospace;
    --texto-primario: 2.25rem;
    --texto-segundario:1.5rem;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color: var(--cor-terciaria);
    font-family: var(--fonte-sugundaria);
    font-size: var(--texto-segundario);
    font-weight: 500;
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15% 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: var(--texto-primario);
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: var(--texto-segundario);
    font-family: var(--fonte-sugundaria);
}

.apresentacao__conteudo__texto__lista{
padding: 1%;
}

.apresentacao__conteudo__link{
    color: var(--cor-terciaria);
    font-family: var(--fonte-sugundaria);
    font-size: var(--texto-segundario);
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
}

.apresentacao__conteudo__link:hover{
    background-color: var(--cor-hover);
    padding: 0.5%;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--texto-segundario);
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--texto-segundario);
    font-weight: 500;
    color: var(--cor-segundaria);
    padding: 16px;
    text-decoration: none;
    font-family: var(--fonte-sugundaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    padding: 2.5%;
}



.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: var(--texto-segundario);
    font-family: var(--fonte-sugundaria);
    font-weight: 400;
    width: auto;
}

@media (max-width: 1200px){
    :root{
        --texto-primario: 1.5rem;
        --texto-segundario:1rem;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
        width: auto;
        gap: 40px;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__imagem{
    width: 40%;
    }
}